@import 'node_modules/nhsuk-frontend/packages/nhsuk';

.nhsuk-header__transactional-service-name {
  padding-left: 0;
}

.nhsuk-success-message {
  @extend .nhsuk-error-message;
  color: $color_nhsuk-green;
}

.nhsuk-input--success {
  border: 4px solid $color_nhsuk-green;
}

.nhsuk-form-group--success {
  border-left: 4px solid $color_nhsuk-green;
  padding-left: 16px;
}

.nhsuk-input[type="number"] {
  -moz-appearance: initial;
}
